.inline-header {
	display:inline;
}
.navSelected {
	color:#4D9BE1;
}
.project-tile {
	border-radius: 25px;
}
.text-center {
	text-align: center;
}
.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.div-half {
	width: 50%;
}
.project-subtitle {
	font-weight: 1;
}
.tool-link {
	text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: #337ab7;
}
.btn-theme-infoviz-blue {
	background: #384154;
	color: white;
}
.image-border {
	border: 2px solid #DDDDDD;
}
.inline-header {
      display: inline;
}
